.topBar{
    background-color: #373d48;
    height: 200px;
}
.border{
    border-left: 1px solid #d7d7d7
}
.icon{
    height: 40px;
    width: 40px;
    background-color: #002e58;
    color: white;
    border-radius: 50px;
    text-align: center;
   position: relative;
   top: 30px;
   right: 23px;
}
.iconImg{
    position: relative;
    top: 5px;
    left: 1px;
}