.icon{
    height: 40px;
    width: 40px;
    background-color: #002e58;
    color: white;
    border-radius: 50px;
    text-align: center;
   position: relative;
   top: 35px;
   right: 20px;
}
.icon2{
    height: 40px;
    width: 40px;
    background-color: #002e58;
    color: white;
    border-radius: 50px;
    text-align: center;
   position: relative;
   top: 35px;
   right: 35px;
}
.iconImg{
    position: relative;
    top: 5px;
    left: 1px;
}

.iconImg2{
    position: relative;
    top: 7px;
}
.red{
    width: 79%;
}