.containers{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e9f0;
}
.box1{
    background-color: #ffff;
    height: 655px;
    width: 395px;
    border: 1px solid  rgb(68 68 68 / 25%);
     margin-top: 13px;
    box-shadow: 0px 2px 4px rgb(68 68 68 / 25%)
}
.logo{
    text-align: center;
}
.inputs{
    width: 100%;
    text-align: center;
    padding: 10px 25px;
}
.inputs input{
    height: 50px;
    font-family: sans-serif;
    font-size: 13px;
}

.heading{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: lighter;
}
.button{
    text-align: center;
    justify-content: center;
    margin: 10px 25px;
    padding: 10px;
    width: 88%;
    background-color: #5AAC44;
    border: 1px solid #5AAC44;
    border-radius: 10px ;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.button:hover{
    background-color: #5d9d4c;
    border-radius: 10px;
    cursor: pointer;
}
.button .link{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.fb{
    height: 38px;
    width: 118px;
    background-color: #1878f2;
    border: 1px solid #1878f2;
    border-radius: 5px;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.fbimg{
    margin-top: 8px;
}

.title{
    margin-left: 10px;
    position: relative;
    top: 6px;
}
.signin{
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 5px;
    color: #46464e;
}
.sociallogin{
    text-align: center;   
}

.google{
 
    margin-left: 8px;
    height: 38px;
    width: 118px;
    background-color: #1878f2;
    border: 1px solid #1878f2;
    border-radius: 5px;
    color: white;
    display: inline-block;
    text-align: center;
}
.footer{
    font-family: sans-serif;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    padding: 10px;
    background-color: #f6f5f4;
}
 .footer a{
text-decoration: none;
font-size: 14px;
color: #3983fa;
margin-left: 4px;
}

.background{
    z-index: -900;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
.leftLarge{
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 0;
    
}
.rightLarge{
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 0;
}

@media screen and (max-width:1110px) {
    .leftLarge{
        display: none;
    }
    .rightLarge{
        display: none;
    }
}
.icon{
    top: 5px;
    position: relative;
}
